.contato-bg {
  background-color: var(--cor-0);
}

.contato-conteudo > p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.contato-conteudo h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 80px;
}

.iframe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.iframe-grid h3 {
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

.iframe-1 ul,
.iframe-2 ul {
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.iframe-1 p,
.iframe-2 p {
  font-size: 0.925rem;
  line-height: 1.6;
  margin-bottom: 5px;
  position: relative;
}

.iframe-grid .icon-endereco::before {
  content: "";
  display: block;
  height: 32px;
  width: 32px;
  background: url(../../icons/icon-mapa.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: -5px;
}

.icon-cidade::before {
  content: "";
  display: block;
  height: 32px;
  width: 32px;
  background: url(../../icons/icon-cep.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: -5px;
}

.icon-tel::before {
  content: "";
  display: block;
  height: 32px;
  width: 32px;
  background: url(../../icons/icon-tel.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: -5px;
}

@media (max-width: 680px) {
  .iframe-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
