.contato-bg{
  background-color: var(--cor-1);
}

.contato-conteudo p{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}


.contato-conteudo h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 80px;
}


.iframe-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.iframe-1,
.iframe-2{

}

@media (max-width: 680px){
  .iframe-grid{
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
}