.escritorio-bg{
  background-color: #F7F7F7;
}
.escritorio-conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  padding-bottom: 80px;
}

.escritorio-carrosel{
  filter: drop-shadow(0px 0px 10px #000);
  overflow: hidden;
  margin: 0 auto;
  padding-top: 60px;
  border-radius: 12px;
}

.container-carrosel {
  display: flex;
  transition: 0.7s ease-in-out;
  transform: translateX(0);
}

.escritorio-conteudo img{
  border-radius: 28px;
}

.escritorio-conteudo p:nth-child(1){
  font-size: 1.5rem;
  font-weight: 400;
}

.escritorio-conteudo h1{
  font-size: 2rem;
  font-weight: 500;
}

.escritorio-conteudo p{
  font-size: .925rem;
  line-height: 1.6;
  margin-bottom: 5px;
}


@media (max-width:680px){
  .escritorio-conteudo{
    grid-template-columns: 1fr;
  }

  .escritorio-conteudo h1{
    font-size: 1.6rem;
    text-align: center;
  }

  .escritorio-conteudo p{
    text-align: center;
  }
}