.equipe-bg {
  background-color: var(--cor-1);
}

.equipe-conteudo > h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-weight: 400;
}

.equipe-conteudo .contato-pessoal-buique {
  display: flex;
  align-items: center;
  gap: 18px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.equipe-conteudo .contato-pessoal-arcoverde {
  display: flex;
  align-items: center;
  gap: 18px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.equipe-conteudo .contato-pessoal-buique p,
.equipe-conteudo .contato-pessoal-arcoverde p{
  background-color: var(--cor-4);
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
}

.equipe-conteudo .contato-pessoal-buique img,
.equipe-conteudo .contato-pessoal-arcoverde img {
  max-width: 40px;
  transition: filter, transform 0.6s;
}

.equipe-conteudo .contato-pessoal-buique img:hover,
.equipe-conteudo .contato-pessoal-arcoverde img:hover {
  transform: scale(1.1);
}

.equipe-conteudo .contato-pessoal-buique a img:last-child, 
.equipe-conteudo .contato-pessoal-arcoverde a img:last-child{
  max-width: 40px;
  border-radius: 0px;
}

.equipe-advg {
  position: relative;
}
.equipe-advg li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
  padding-bottom: 40px;
}

.equipe-advg img {
  max-width: 500px;
  border-radius: 18px;
}

.equipe-advg-conteudo {
  background-color: var(--cor-0);
  padding: 40px 160px;
  border-radius: 20px;
  position: absolute;
  left: 444px;
}

.equipe-advg .grid-colum-2 {
  grid-column: 2;
}

.equipe-advg-conteudo-colum-2 {
  background-color: var(--cor-0);
  padding: 40px 133px;
  border-radius: 20px;
  position: absolute;
  right: 525px;
}

/* LI COLUM 1 */
@media (max-width: 1335px) {
  .equipe-advg-conteudo {
    padding: 40px 100px;
  }
}

@media (max-width: 1010px) {
  .equipe-advg-conteudo {
      padding: 40px 45px;
  }
}

@media (max-width: 915px) {
  .equipe-advg-conteudo {
    padding: 40px 30px;
  }
}

@media (max-width: 870px) {
  .equipe-advg-conteudo {
    padding: 40px 25px;
  }
}

@media (max-width: 850px){
  .equipe-advg-conteudo {
    left: 370px;
  }
}

@media (max-width: 750px) {
  .equipe-advg-conteudo {
    left: 290px;
  }
}

@media (max-width: 680px) {
  .equipe-advg li {
    grid-template-columns: 1fr;
    justify-items: normal;
    gap: 20px 0px;
  }

  .equipe-advg-conteudo {
    position: initial;
  }
}

/* LI COLUM 1 */

/* LI COLUM 2 */
@media (max-width: 1335px) {
  .equipe-advg-conteudo-colum-2 {
    padding: 40px 100px;
  }

  .equipe-advg-conteudo-colum-2 {
    right: 490px;
  }
}

@media (max-width: 1120px) {
  .equipe-advg-conteudo-colum-2 {
    right: 405px;
  }
}


@media (max-width: 1010px) {
  .equipe-advg-conteudo-colum-2 {
      padding: 40px 45px;
  }
}

@media (max-width: 915px) {
  .equipe-advg-conteudo-colum-2 {
    padding: 40px 30px;
  }
}

@media (max-width: 870px) {
  .equipe-advg-conteudo-colum-2 {
    padding: 40px 25px;
  }
}

@media (max-width:800px){
  .equipe-advg-conteudo-colum-2 {
    right: 258px;
  }
}


@media (max-width: 680px) {
  .equipe-advg li {
    grid-template-columns: 1fr;
    justify-items: normal;
    gap: 20px 0px;
  }

  .equipe-advg-conteudo-colum-2 {
    position: initial;
    grid-row: 2;
  }

  .equipe-advg img {
    max-width: 100%;
    margin: 0 auto;
  }

  .equipe-advg .grid-colum-2 {
    grid-column: 1;
  }

  .equipe-advg-conteudo {
    position: initial;
  }
}
/* LI COLUM 2 */
