.equipe-bg{
  background-color: var(--cor-1);

}

.equipe-conteudo >h1{
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-weight: 400;
}

.equipe-conteudo .contato-pessoal{
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: hidden;
}
.equipe-conteudo .contato-pessoal img{
  max-width: 50px;
  transition: filter, transform 0.6s;
}

.equipe-conteudo .contato-pessoal img:hover {
  transform: scale(1.1);
}

.equipe-conteudo .contato-pessoal a img:last-child{
  max-width: 50px;
  border-radius: 0px;
}


.equipe-advg{
  position: relative;
}
.equipe-advg li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
  padding-bottom: 40px;
}

.equipe-advg img{
  max-width: 500px;
  border-radius: 18px;
}

.equipe-advg-conteudo{
  background-color: var(--cor-0);
  padding: 40px 160px;
  border-radius: 20px;
  position: absolute;
  left: 444px;
}

.equipe-advg .grid-colum-2{
  grid-column: 2;
}

.equipe-advg-conteudo-colum-2{
  background-color: var(--cor-0);
  padding: 40px 160px;
  border-radius: 20px;
  position: absolute;
  right: 525px;
}


/* LI COLUM 1 */
@media (max-width: 1335px){
  .equipe-advg-conteudo{
    padding: 40px 100px;
  }
  
}

@media (max-width: 915px){
  .equipe-advg-conteudo{
    padding: 40px 80px;
  }
  
}

@media (max-width: 870px){
  .equipe-advg-conteudo{
    padding: 40px 40px;
  }
  
}

@media (max-width:750px){
  .equipe-advg-conteudo {
    left: 370px;
}
}

@media (max-width: 680px){
  .equipe-advg li{
    grid-template-columns: 1fr;
    justify-items: normal;
    gap: 20px 0px;
  }

  .equipe-advg img{
    max-width:  370px;
    margin: 0 auto;
  }

  .equipe-advg-conteudo{
    position: initial;
  }
}

/* LI COLUM 1 */

/* LI COLUM 2 */
@media (max-width: 1335px){
  .equipe-advg-conteudo-colum-2{
    padding: 40px 100px;
  }
  
  .equipe-advg-conteudo-colum-2{
    right: 370px;
  }
}

@media (max-width: 915px){
  .equipe-advg-conteudo-colum-2{
    padding: 40px 80px;
  }
  
}

@media (max-width: 870px){
  .equipe-advg-conteudo-colum-2{
    padding: 40px 40px;
  }
  
}

@media (max-width: 680px){
  .equipe-advg li{
    grid-template-columns: 1fr;
    justify-items: normal;
    gap: 20px 0px;
  }

  .equipe-advg-conteudo-colum-2 {
    position: initial; 
    grid-row: 2;
}

  .equipe-advg img{
    max-width:  370px;
  }

  .equipe-advg .grid-colum-2 {
    grid-column: 1;
}

  .equipe-advg-conteudo{
    position: initial;
  }
}
/* LI COLUM 2 */


@media (max-width:440px){
  .equipe-advg img{
    max-width:  360px;
  }
}

@media (max-width:425px){
  .equipe-advg img{
    max-width:  320px;
  }
}