.faq-bg{
  background-color: #F7F7F7;
}
.faq-conteudo{
 padding-bottom: 80px;
}

.faq-conteudo h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 40px;
}

.faq-lista{
  border: .5px solid #e1dadab6;
}

.dt-pergunta{
  font-size: 1.3rem;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  border-top: .5px solid #e1dada6c;
}

.dd-resposta{
  margin-bottom: 10px;
  font-size: 1rem;
}

.dd-resposta{
  display: none;
}

.dt-pergunta.active{
  background-image: linear-gradient(to right, #393939, #2e2a2a, #a19a8c);
  color: #d7d7d7;
}

.dt-pergunta:hover{
  background-image: linear-gradient(to right, #393939, #2e2a2a, #a19a8c);
  color: #d7ccba;
}

.dd-resposta.active{
  display: block;
  padding: 24px;
  background-color: #d7ccba;
}

.span-resposta{
  display: inline-block;
  background-color: rgba(226, 34, 34, 0.884);
  color: white;
  padding: 4px;
  margin: 6px 0px;
  border-radius: 8px;
}

.span-requetios-direitos{
  color: rgb(226, 34, 34);
}

.faq-lista dt::before {
  content: "➔";
  margin-right: 5px;
  color: red;
  display: inline-block;
}

.faq-lista dt::after {
  content: "↓";
  margin-left: 10px;
  color: red;
  display: inline-block;
}

.faq-lista dt.active::after {
  content: "↑";
  display: inline-block;
}