.introducao-bg {
  background: url(../../images/imagem-introdocao2.jpg);
  background-position: center top;
  background-size: cover;
  
}

.introducao-conteudo {
  padding-top: 80px;
  padding-bottom: 170px;
}

.span-oab {
  display: inline-block;
  padding: 5px 11px;
  background-color: #bea7825d;
  border-radius: 4px;
  color: var(--cor-0);
}

.introducao-conteudo p {
  font-size: 2.3rem;
  max-width: 24ch;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--cor-0);
  text-shadow: 1px 1px black;
}

@media (max-width: 700px) {
  .introducao-bg {
    background-position: center center;
  }

  .introducao-conteudo {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}
