* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-0);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px 0px 20px;
}

.btn1{
  padding: 12px 34px;
  border: none;
  border-radius: 8px;
  font-size: .83rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #e0c292, #554935);
  color: var(--cor-0);
  cursor: pointer;
  position: relative;
  top: 8px;
  transition: .3s;
  display: block;
  margin-bottom: 20px;
}

.btn1:hover{
  top: 0px;
}

.btn2{
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  font-size: .83rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(to bottom, #e0c292, #554935);
  background-image: linear-gradient(to bottom, #e0c292, #554935);
  color: var(--cor-0);
  cursor: pointer;
  position: relative;
  top: 8px;
  transition: .3s;
  display: block;
  margin-bottom: 20px;
}

.btn2:hover{
  top: 0px;
}


.orcamento{
  background-image: linear-gradient(to bottom, #e0c292, #554935);
  position: fixed;
  padding: 16px 16px;
  bottom: 25px;
  right: 12px;
  border-radius: 50%;
  z-index: 9999;
}

.orcamento:hover{
  background-image: linear-gradient(to bottom, #e0c292e1, #554935d3);
}

.orcamento img{
  max-width: 32px;
}
