:root {
  --cor-0: #fff;
  --cor-1: #000;
  --cor-2: #1F2839;
  --cor-3: #AD956E;
  --cor-4: #B69D74;
  --cor-5: #B28C47;
}


.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}
